.banner
    display flex
    flex-wrap wrap
    flex-direction column
    justify-content space-between
    height 100%
    padding 2% 5%
    background-image url("../assets/images/banner_background.jpg")

header
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  height 100px
  width 100%

.menu
    display flex
    justify-content space-around
    color white

.menu-button 
  display flex
  flex-direction column
  justify-content space-around
  height 20px
  margin-left 8px
  .menu-line 
    content ''
    display block
    width 20px
    height 2px
    background white

.main-title
    display block
    max-width 50%
    +mobile()
        background black

.content
    display flex
    flex-direction column
    justify-content space-between
    
.scroll-button
    display block
    width 35px
    height 35px
    margin 0 auto
    background none
    border 2px solid white
    border-radius 20px