@import "vars.styl"
footer
    display flex
    justify-content space-evenly
    align-items center
    background var(--purple)
    height 295px
    color white
    +mobile()
        flex-wrap wrap

.social
    display inline-flex
    width 30px
    height 30px
    background-size cover
    background-repeat no-repeat
    background-origin center

.copyright
    display flex
    flex-direction column

    