@import "vars.styl"
footer
    display flex
    justify-content space-evenly
    align-items center
    background var(--purple)
    height 295px
    color white
    +mobile()
        flex-wrap wrap

.social
    width 30px
    height 30px

.copyright
    display flex
    flex-direction column

    