.banner
    width 100vw
    height 100vh
    background-image url("../assets/images/banner_background.jpg")

.menu-button 
  display flex
  flex-direction column
  align-content space-around
  .menu-line 
    content ''
    display block
    width 10px
    height 1px
    background white
    