//COLORS
:root {
    --purple #5c3bb1
}

//FONTS
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('/../assets/fonts/ProximaNova-Bold.eot');
    src: url('/../assets/fonts/ProximaNova-Bold.otf') format('truetype');
}

@font-face
    font-family 'ProximaNovaLight'
    src: url('/../assets/fonts/ProximaNova-Light.eot');
    src: url('/../assets/fonts/ProximaNova-Light.otf');

@font-face
    font-family 'ProximaNovaRegular'
    src: url('/../assets/fonts/ProximaNova-Regular.eot');
    src: url('/../assets/fonts/ProximaNova-Regular.otf');

@font-face
    font-family 'ProximaNovaSemibold'
    src: url('/../assets/fonts/ProximaNova-Semibold.eot');
    src: url('/../assets/fonts/ProximaNova-Semibold.otf');

//HEADINGS
h1
    font-family 'ProximaNovaBold', FallBack, sans-serif
    font-size 45px
    color white

h2
    font-family 'ProximaNovaLight', FallBack, sans-serif
    font-size 30px
    color black

//PARAGRAFH
p
    font-family 'ProximaNovaRegular', FallBack, sans-serif
    font-size 16px
    &.light
        color white


button  
    display block
    min-width 211px
    max-width 211px
    color white
    padding 10px 30px
    font-size 15px
    font-family 'ProximaNovaRegular', FallBack, sans-serif
    background none
    border 2px solid white